main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.app {
  display: flex;
  /* margin: 1rem auto; */
  width: 100%;
}

section {
  flex-grow: 1;
  width: 100%;
  padding: 0.6rem;
  overflow-y: hidden;
  margin-bottom: 0;
}
